In [137]:
# pip install requests beautifulsoup4

In [148]:
import pandas as pd
df = pd.read_csv("ds_salaries.csv")

In [149]:
pip install lxml

Requirement already satisfied: lxml in /opt/homebrew/Cellar/jupyterlab/4.1.6_1/libexec/lib/python3.12/site-packages (5.2.2)

[notice] A new release of pip is available: 24.0 -> 24.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.1.6_1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [155]:
def convert(url):
    html_content = requests.get(url).text
    soup = BeautifulSoup(html_content, "html.parser")
    prett = soup.prettify()
    txt = soup.find('div', attrs = {'class':"YMlKec fxKbKc"})
    return float(txt.text)


# https://www.google.com/search?client=safari&rls=en&q=eu+to+dolar&ie=UTF-8&oe=UTF-8

In [159]:
eur_to_dollar = convert("https://www.google.com/finance/quote/{}-USD?sa=X&ved=2ahUKEwi2vqDZ0IaHAxVVr5UCHcXZDFEQmY0JegQICBAw".format("EUR"))

print(convert("https://www.google.com/finance/quote/{}-USD?sa=X&ved=2ahUKEwi2vqDZ0IaHAxVVr5UCHcXZDFEQmY0JegQICBAw".format("EUR")))

1.0739

In [153]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [161]:
for i in df.values:
    unique_curr = df.salary_currency.unique()
    if i[5] != 'USD':
        i[6] = i[4] * convert("https://www.google.com/finance/quote/{}-USD?sa=X&ved=2ahUKEwi2vqDZ0IaHAxVVr5UCHcXZDFEQmY0JegQICBAw".format(i[5]))
        i[6] = ("{:.2f}".format(i[6]))
    else:
        pass
    print(i)

[2023 'SE' 'FT' 'Principal Data Scientist' 80000 'EUR' '85904.00' 'ES' 100
 'ES' 'L']
[2023 'MI' 'CT' 'ML Engineer' 30000 'USD' 30000 'US' 100 'US' 'S']
[2023 'MI' 'CT' 'ML Engineer' 25500 'USD' 25500 'US' 100 'US' 'S']
[2023 'SE' 'FT' 'Data Scientist' 175000 'USD' 175000 'CA' 100 'CA' 'M']
[2023 'SE' 'FT' 'Data Scientist' 120000 'USD' 120000 'CA' 100 'CA' 'M']
[2023 'SE' 'FT' 'Applied Scientist' 222200 'USD' 222200 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Applied Scientist' 136000 'USD' 136000 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Data Scientist' 219000 'USD' 219000 'CA' 0 'CA' 'M']
[2023 'SE' 'FT' 'Data Scientist' 141000 'USD' 141000 'CA' 0 'CA' 'M']
[2023 'SE' 'FT' 'Data Scientist' 147100 'USD' 147100 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 90700 'USD' 90700 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 130000 'USD' 130000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 100000 'USD' 100000 'US' 100 'US' 'M']
[2023 'EN' 'FT' 'Applied Scientist' 213660 'USD' 213660 'US' 0 'US' 'L']
[2023 'EN' 'FT' 'Applied Scientist' 130760 'USD' 130760 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Data Modeler' 147100 'USD' 147100 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Modeler' 90700 'USD' 90700 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 170000 'USD' 170000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 150000 'USD' 150000 'US' 0 'US' 'M']
[2023 'MI' 'FT' 'Data Analyst' 150000 'USD' 150000 'US' 100 'US' 'M']
[2023 'MI' 'FT' 'Data Analyst' 110000 'USD' 110000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Research Engineer' 275000 'USD' 275000 'DE' 0 'DE' 'M']
[2023 'SE' 'FT' 'Research Engineer' 174000 'USD' 174000 'DE' 0 'DE' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 230000 'USD' 230000 'GB' 100 'GB' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 143200 'USD' 143200 'GB' 100 'GB' 'M']
[2023 'SE' 'FT' 'Business Intelligence Engineer' 225000 'USD' 225000 'US'
 0 'US' 'M']
[2023 'SE' 'FT' 'Business Intelligence Engineer' 156400 'USD' 156400 'US'
 0 'US' 'M']
[2023 'SE' 'FT' 'Machine Learning Engineer' 200000 'USD' 200000 'US' 0
 'US' 'M']
[2023 'SE' 'FT' 'Machine Learning Engineer' 130000 'USD' 130000 'US' 0
 'US' 'M']
[2023 'SE' 'FT' 'Data Strategist' 90000 'USD' 90000 'CA' 0 'CA' 'M']
[2023 'SE' 'FT' 'Data Strategist' 72000 'USD' 72000 'CA' 0 'CA' 'M']
[2023 'SE' 'FT' 'Data Engineer' 253200 'USD' 253200 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 90700 'USD' 90700 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Computer Vision Engineer' 342810 'USD' 342810 'US' 0 'US'
 'M']
[2023 'SE' 'FT' 'Computer Vision Engineer' 184590 'USD' 184590 'US' 0 'US'
 'M']
[2023 'MI' 'FT' 'Data Engineer' 162500 'USD' 162500 'US' 0 'US' 'M']
[2023 'MI' 'FT' 'Data Engineer' 130000 'USD' 130000 'US' 0 'US' 'M']
[2023 'MI' 'FT' 'Data Analyst' 105380 'USD' 105380 'US' 0 'US' 'M']
[2023 'MI' 'FT' 'Data Analyst' 64500 'USD' 64500 'US' 0 'US' 'M']
[2023 'EN' 'FT' 'Data Quality Analyst' 100000 'USD' 100000 'NG' 100 'NG'
 'L']
[2023 'EN' 'FT' 'Compliance Data Analyst' 30000 'USD' 30000 'NG' 100 'NG'
 'L']
[2022 'MI' 'FT' 'Machine Learning Engineer' 1650000 'INR' '19800.00' 'IN'
 50 'IN' 'L']
[2023 'EN' 'FT' 'Applied Scientist' 204620 'USD' 204620 'US' 0 'US' 'L']
[2023 'EN' 'FT' 'Applied Scientist' 110680 'USD' 110680 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Data Engineer' 270703 'USD' 270703 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 221484 'USD' 221484 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 212750 'USD' 212750 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 185000 'USD' 185000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 262000 'USD' 262000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 245000 'USD' 245000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 275300 'USD' 275300 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 183500 'USD' 183500 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 218500 'USD' 218500 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 199098 'USD' 199098 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 203300 'USD' 203300 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 123600 'USD' 123600 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Research Engineer' 189110 'USD' 189110 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Research Engineer' 139000 'USD' 139000 'US' 0 'US' 'M']
[2023 'EX' 'FT' 'Data Scientist' 258750 'USD' 258750 'US' 0 'US' 'M']
[2023 'EX' 'FT' 'Data Scientist' 185000 'USD' 185000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 231500 'USD' 231500 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 166000 'USD' 166000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 172500 'USD' 172500 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 110500 'USD' 110500 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 238000 'USD' 238000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 176000 'USD' 176000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 237000 'USD' 237000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 201450 'USD' 201450 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Applied Scientist' 309400 'USD' 309400 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Applied Scientist' 159100 'USD' 159100 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Data Engineer' 115000 'USD' 115000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 81500 'USD' 81500 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 237000 'USD' 237000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 201450 'USD' 201450 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Computer Vision Engineer' 280000 'USD' 280000 'US' 0 'US'
 'M']
[2023 'SE' 'FT' 'Computer Vision Engineer' 210000 'USD' 210000 'US' 0 'US'
 'M']
[2023 'SE' 'FT' 'Data Architect' 280100 'USD' 280100 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Architect' 168100 'USD' 168100 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 193500 'USD' 193500 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 139000 'USD' 139000 'US' 100 'US' 'M']
[2023 'MI' 'FT' 'Data Scientist' 510000 'HKD' '65280.00' 'HK' 0 'HK' 'L']
[2023 'SE' 'FT' 'Machine Learning Engineer' 150000 'USD' 150000 'PT' 100
 'US' 'M']
[2023 'MI' 'FT' 'Applied Machine Learning Engineer' 65000 'EUR' '69797.00'
 'IN' 100 'DE' 'S']
[2022 'EN' 'FT' 'AI Developer' 300000 'USD' 300000 'IN' 50 'IN' 'L']
[2023 'MI' 'FT' 'Machine Learning Engineer' 90000 'EUR' '96642.00' 'NL'
 100 'NL' 'L']
[2023 'SE' 'FT' 'Business Intelligence Engineer' 185900 'USD' 185900 'US'
 0 'US' 'M']
[2023 'SE' 'FT' 'Business Intelligence Engineer' 129300 'USD' 129300 'US'
 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 225000 'USD' 225000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 175000 'USD' 175000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 185000 'USD' 185000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 140000 'USD' 140000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 45000 'EUR' '48321.00' 'ES' 0 'ES' 'M']
[2023 'SE' 'FT' 'Data Scientist' 36000 'EUR' '38656.80' 'ES' 0 'ES' 'M']
[2023 'SE' 'FT' 'Data Scientist' 105000 'USD' 105000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 70000 'USD' 70000 'US' 0 'US' 'M']
[2023 'EN' 'FT' 'Machine Learning Engineer' 163196 'USD' 163196 'US' 0
 'US' 'M']
[2023 'EN' 'FT' 'Machine Learning Engineer' 145885 'USD' 145885 'US' 0
 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 217000 'USD' 217000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 185000 'USD' 185000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 202800 'USD' 202800 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Data Analyst' 104300 'USD' 104300 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Data Analyst' 145000 'USD' 145000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 65000 'USD' 65000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 165000 'USD' 165000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 132300 'USD' 132300 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 179170 'USD' 179170 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 94300 'USD' 94300 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 152500 'USD' 152500 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 116450 'USD' 116450 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 247300 'USD' 247300 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 133800 'USD' 133800 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Research Engineer' 203000 'USD' 203000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Research Engineer' 133000 'USD' 133000 'US' 0 'US' 'M']
[2023 'EN' 'FT' 'Research Scientist' 220000 'USD' 220000 'US' 50 'US' 'L']
[2022 'EN' 'FT' 'Machine Learning Engineer' 54000 'CHF' '59810.40' 'CH'
 100 'CH' 'S']
[2023 'SE' 'FT' 'Data Scientist' 150000 'USD' 150000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 120000 'USD' 120000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 289800 'USD' 289800 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 214000 'USD' 214000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 179820 'USD' 179820 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 143860 'USD' 143860 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Machine Learning Engineer' 283200 'USD' 283200 'US' 100
 'US' 'M']
[2023 'SE' 'FT' 'Machine Learning Engineer' 188800 'USD' 188800 'US' 100
 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 289800 'USD' 289800 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 214200 'USD' 214200 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 185900 'USD' 185900 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 129300 'USD' 129300 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 252000 'USD' 252000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 129000 'USD' 129000 'US' 0 'US' 'M']
[2023 'MI' 'FT' 'Data Analytics Manager' 155000 'USD' 155000 'US' 0 'US'
 'M']
[2023 'MI' 'FT' 'Data Analytics Manager' 140000 'USD' 140000 'US' 0 'US'
 'M']
[2023 'SE' 'FT' 'Data Engineer' 161800 'USD' 161800 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 141600 'USD' 141600 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Machine Learning Engineer' 342300 'USD' 342300 'US' 0
 'US' 'L']
[2023 'SE' 'FT' 'Machine Learning Engineer' 176100 'USD' 176100 'US' 0
 'US' 'L']
[2023 'MI' 'FT' 'Data Engineer' 100000 'USD' 100000 'US' 100 'US' 'M']
[2023 'MI' 'FT' 'Data Engineer' 70000 'USD' 70000 'US' 100 'US' 'M']
[2023 'EN' 'FT' 'Data Engineer' 85000 'USD' 85000 'US' 0 'US' 'M']
[2023 'EN' 'FT' 'Data Engineer' 65000 'USD' 65000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 138784 'USD' 138784 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 83270 'USD' 83270 'US' 100 'US' 'M']
[2023 'EN' 'FT' 'Data Analyst' 75000 'USD' 75000 'US' 0 'US' 'M']
[2023 'EN' 'FT' 'Data Analyst' 70000 'USD' 70000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 204500 'USD' 204500 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 138900 'USD' 138900 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Machine Learning Engineer' 318300 'USD' 318300 'US' 100
 'US' 'M']
[2023 'SE' 'FT' 'Machine Learning Engineer' 212200 'USD' 212200 'US' 100
 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 95000 'USD' 95000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 75000 'USD' 75000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 195000 'USD' 195000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 160000 'USD' 160000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 230000 'USD' 230000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 143200 'USD' 143200 'US' 0 'US' 'M']
[2023 'MI' 'FT' 'Data Engineer' 100000 'USD' 100000 'US' 100 'US' 'M']
[2023 'MI' 'FT' 'Data Engineer' 70000 'USD' 70000 'US' 100 'US' 'M']
[2023 'MI' 'FT' 'Business Data Analyst' 105000 'USD' 105000 'US' 50 'US'
 'L']
[2023 'MI' 'FT' 'Applied Data Scientist' 1700000 'INR' '20400.00' 'IN' 100
 'IN' 'L']
[2023 'MI' 'FT' 'Data Analyst' 38000 'GBP' '48062.40' 'GB' 0 'GB' 'M']
[2023 'MI' 'FT' 'Data Analyst' 35000 'GBP' '44268.00' 'GB' 0 'GB' 'M']
[2023 'SE' 'FT' 'Data Engineer' 145000 'USD' 145000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 115000 'USD' 115000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 168400 'USD' 168400 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 105200 'USD' 105200 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Applied Scientist' 309400 'USD' 309400 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Applied Scientist' 159100 'USD' 159100 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Machine Learning Engineer' 190000 'USD' 190000 'US' 0
 'US' 'M']
[2023 'SE' 'FT' 'Machine Learning Engineer' 150000 'USD' 150000 'US' 0
 'US' 'M']
[2023 'MI' 'FT' 'Data Engineer' 162500 'USD' 162500 'US' 0 'US' 'M']
[2023 'MI' 'FT' 'Data Engineer' 130000 'USD' 130000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 150000 'USD' 150000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 120000 'USD' 120000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 145000 'USD' 145000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 120000 'USD' 120000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Applied Scientist' 222200 'USD' 222200 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Applied Scientist' 136000 'USD' 136000 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Data Analyst' 45000 'GBP' '56916.00' 'CF' 100 'CF' 'M']
[2023 'SE' 'FT' 'Data Analyst' 35000 'GBP' '44268.00' 'CF' 100 'CF' 'M']
[2023 'SE' 'FT' 'Data Engineer' 241000 'USD' 241000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 155000 'USD' 155000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 220000 'USD' 220000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 190000 'USD' 190000 'US' 100 'US' 'M']
[2023 'MI' 'FT' 'Data Scientist' 55000 'GBP' '69564.00' 'GB' 0 'GB' 'M']
[2023 'MI' 'FT' 'Data Scientist' 45000 'GBP' '56916.00' 'GB' 0 'GB' 'M']
[2020 'EX' 'FT' 'Staff Data Analyst' 15000 'USD' 15000 'NG' 0 'CA' 'M']
[2023 'MI' 'FT' 'ETL Engineer' 70000 'GBP' '88536.00' 'GB' 100 'GB' 'M']
[2023 'MI' 'FT' 'ETL Engineer' 47500 'GBP' '60078.00' 'GB' 100 'GB' 'M']
[2023 'EN' 'FT' 'Data Analyst' 85000 'USD' 85000 'US' 100 'US' 'M']
[2023 'EN' 'FT' 'Data Analyst' 75000 'USD' 75000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 160000 'USD' 160000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 140000 'USD' 140000 'US' 0 'US' 'M']
[2023 'MI' 'FT' 'Machine Learning Engineer' 300000 'USD' 300000 'US' 0
 'US' 'M']
[2023 'MI' 'FT' 'Machine Learning Engineer' 250000 'USD' 250000 'US' 0
 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 228000 'USD' 228000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 186000 'USD' 186000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 190000 'USD' 190000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 170000 'USD' 170000 'US' 0 'US' 'M']
[2023 'MI' 'FT' 'Research Engineer' 230000 'USD' 230000 'US' 0 'US' 'M']
[2023 'MI' 'FT' 'Research Engineer' 200000 'USD' 200000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Architect' 180000 'USD' 180000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Architect' 115000 'USD' 115000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Architect' 200000 'USD' 200000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Architect' 115000 'USD' 115000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data DevOps Engineer' 50000 'EUR' '53690.00' 'FR' 50 'FR'
 'S']
[2023 'EX' 'FT' 'Data Engineer' 220000 'USD' 220000 'US' 0 'US' 'M']
[2023 'EX' 'FT' 'Data Engineer' 205000 'USD' 205000 'US' 0 'US' 'M']
[2023 'MI' 'FT' 'Data Engineer' 180000 'USD' 180000 'US' 0 'US' 'M']
[2023 'MI' 'FT' 'Data Engineer' 130000 'USD' 130000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 200000 'USD' 200000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 150000 'USD' 150000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Computer Vision Engineer' 215000 'USD' 215000 'US' 0 'US'
 'M']
[2023 'SE' 'FT' 'Computer Vision Engineer' 170000 'USD' 170000 'US' 0 'US'
 'M']
[2023 'SE' 'FT' 'Machine Learning Engineer' 247500 'USD' 247500 'US' 0
 'US' 'M']
[2023 'SE' 'FT' 'Machine Learning Engineer' 172200 'USD' 172200 'US' 0
 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 224000 'USD' 224000 'CA' 0 'CA' 'M']
[2023 'SE' 'FT' 'Data Scientist' 176000 'USD' 176000 'CA' 0 'CA' 'M']
[2023 'SE' 'FT' 'Data Analyst' 120000 'USD' 120000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 75000 'USD' 75000 'US' 100 'US' 'M']
[2023 'EN' 'FT' 'Data Engineer' 1400000 'INR' '16800.00' 'IN' 100 'IN' 'L']
[2023 'SE' 'FT' 'Applied Data Scientist' 100000 'AUD' '66580.00' 'AU' 100
 'FI' 'M']
[2023 'MI' 'FT' 'AI Developer' 100000 'SGD' '73710.00' 'FI' 0 'FI' 'M']
[2023 'SE' 'FT' 'Data Analyst' 140000 'USD' 140000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 120000 'USD' 120000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 128000 'USD' 128000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 81500 'USD' 81500 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 145000 'USD' 145000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 115000 'USD' 115000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 185000 'USD' 185000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 140000 'USD' 140000 'US' 0 'US' 'M']
[2023 'EX' 'FT' 'Head of Data' 329500 'USD' 329500 'US' 0 'US' 'M']
[2023 'EX' 'FT' 'Head of Data' 269600 'USD' 269600 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Quality Analyst' 100000 'USD' 100000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Quality Analyst' 80000 'USD' 80000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 250000 'USD' 250000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 162500 'USD' 162500 'US' 0 'US' 'M']
[2023 'MI' 'FT' 'AI Developer' 200000 'USD' 200000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 145000 'USD' 145000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 100000 'USD' 100000 'US' 0 'US' 'M']
[2023 'EX' 'FT' 'Data Engineer' 145000 'USD' 145000 'US' 0 'US' 'M']
[2023 'EX' 'FT' 'Data Engineer' 115000 'USD' 115000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 203500 'USD' 203500 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 152000 'USD' 152000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 239000 'USD' 239000 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Data Scientist' 122900 'USD' 122900 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Data Scientist' 237000 'USD' 237000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 145000 'USD' 145000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Science Manager' 191765 'USD' 191765 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Science Manager' 134236 'USD' 134236 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 190000 'USD' 190000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 112000 'USD' 112000 'US' 100 'US' 'M']
[2022 'SE' 'FT' 'Data Scientist' 84000 'EUR' '90199.20' 'ES' 100 'GB' 'L']
[2023 'EN' 'FT' 'Data Engineer' 85000 'USD' 85000 'US' 0 'US' 'M']
[2023 'EN' 'FT' 'Data Engineer' 65000 'USD' 65000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 135000 'USD' 135000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 105500 'USD' 105500 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Research Engineer' 293000 'USD' 293000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Research Engineer' 185000 'USD' 185000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 80000 'USD' 80000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 70000 'USD' 70000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 220000 'USD' 220000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Engineer' 160000 'USD' 160000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 175000 'USD' 175000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 145000 'USD' 145000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 200000 'USD' 200000 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Analyst' 148500 'USD' 148500 'US' 0 'US' 'M']
[2023 'SE' 'FT' 'Data Scientist' 45000 'EUR' '48321.00' 'ES' 0 'ES' 'M']
[2023 'SE' 'FT' 'Data Scientist' 36000 'EUR' '38656.80' 'ES' 0 'ES' 'M']
[2023 'SE' 'FT' 'Data Engineer' 240500 'USD' 240500 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Data Engineer' 123700 'USD' 123700 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Analytics Engineer' 152900 'USD' 152900 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 117100 'USD' 117100 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 173000 'USD' 173000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Analytics Engineer' 113000 'USD' 113000 'US' 100 'US' 'M']
[2023 'SE' 'FT' 'Applied Scientist' 260000 'USD' 260000 'US' 0 'US' 'L']
[2023 'SE' 'FT' 'Applied Scientist' 136000 'USD' 136000 'US' 0 'US' 'L']
[2023 'EX' 'FT' 'Data Engineer' 175000 'USD' 175000 'US' 0 'US' 'M']

KeyboardInterrupt:

In [ ]:
df.head()